---
http_interactions:
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/search?api_key=<GIPHY_api_key>&limit=20&q=barney&rating=r
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Response-Time:
      - 46ms
      X-Cachiness-Shield-Rule:
      - giphy_api_search_long_ttl
      X-Cachiness-Shield-Desired-Ttl:
      - 21600s
      X-Cachiness-Shield-Actual-Ttl:
      - '21600.000'
      X-Rule-Debug:
      - '1'
      X-Cachiness-Edge-Rule:
      - giphy_api_search_long_ttl
      X-Cachiness-Edge-Desired-Ttl:
      - 21600s
      X-Cachiness-Edge-Actual-Ttl:
      - '21600.000'
      X-Cachiness-Edge-Age:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"gif","id":"ldsaj3XdIPb8s","url":"https://giphy.com/gifs/barney-ldsaj3XdIPb8s","slug":"barney-ldsaj3XdIPb8s","bitly_gif_url":"http://gph.is/2cLMT2A","bitly_url":"http://gph.is/2cLMT2A","embed_url":"https://giphy.com/embed/ldsaj3XdIPb8s","username":"","source":"http://www.lipstickalley.com/showthread.php/808262-CIA-s-Music-Torture-Playlist","title":"barney
        GIF","rating":"g","content_url":"","source_tld":"www.lipstickalley.com","source_post_url":"http://www.lipstickalley.com/showthread.php/808262-CIA-s-Music-Torture-Playlist","is_sticker":0,"import_datetime":"2016-09-23
        08:25:16","trending_datetime":"0000-00-00 00:00:00","images":{"original":{"height":"280","width":"320","size":"1104386","url":"https://media3.giphy.com/media/ldsaj3XdIPb8s/giphy.gif?cid=611b9182vyuwknqa3705pon0yt0d3l499u267gzivx2s2efo&ep=v1_gifs_search&rid=giphy.gif&ct=g","mp4_size":"167509","mp4":"https://media3.giphy.com/media/ldsaj3XdIPb8s/giphy.mp4?cid=611b9182vyuwknqa3705pon0yt0d3l499u267gzivx2s2efo&ep=v1_gifs_search&rid=giphy.mp4&ct=g","webp_size":"334298","webp":"https://media3.giphy.com/media/ldsaj3XdIPb8s/giphy.webp?cid=611b9182vyuwknqa3705pon0yt0d3l499u267gzivx2s2efo&ep=v1_gifs_search&rid=giphy.webp&ct=g","frames":"23","hash":"692e0cca1717790f234077afdf609923"},"downsized":{"height":"280","width":"320","size":"1104386","url":"https://media3.giphy.com/media/ldsaj3XdIPb8s/giphy.gif?cid=611b9182vyuwknqa3705pon0yt0d3l499u267gzivx2s2efo&ep=v1_gifs_search&rid=giphy.gif&ct=g"},"downsized_large":{"height":"280","width":"320","size":"1104386","url":"https://media3.giphy.com/media/ldsaj3XdIPb8s/giphy.gif?cid=611b9182vyuwknqa3705pon0yt0d3l499u267gzivx2s2efo&ep=v1_gifs_search&rid=giphy.gif&ct=g"},"downsized_medium":{"height":"280","width":"320","size":"1104386","url":"https://media3.giphy.com/media/ldsaj3XdIPb8s/giphy.gif?cid=611b9182vyuwknqa3705pon0yt0d3l499u267gzivx2s2efo&ep=v1_gifs_search&rid=giphy.gif&ct=g"},"downsized_small":{"height":"280","width":"320","mp4_size":"138571","mp4":"https://media3.giphy.com/media/ldsaj3XdIPb8s/giphy-downsized-small.mp4?cid=611b9182vyuwknqa3705pon0yt0d3l499u267gzivx2s2efo&ep=v1_gifs_search&rid=giphy-downsized-small.mp4&ct=g"},"downsized_still":{"height":"280","width":"320","size":"1104386","url":"https://media3.giphy.com/media/ldsaj3XdIPb8s/giphy_s.gif?cid=611b9182vyuwknqa3705pon0yt0d3l499u267gzivx2s2efo&ep=v1_gifs_search&rid=giphy_s.gif&ct=g"},"fixed_height":{"height":"200","width":"229","size":"557009","url":"https://media3.giphy.com/media/ldsaj3XdIPb8s/200.gif?cid=611b9182vyuwknqa3705pon0yt0d3l499u267gzivx2s2efo&ep=v1_gifs_search&rid=200.gif&ct=g","mp4_size":"43934","mp4":"https://media3.giphy.com/media/ldsaj3XdIPb8s/200.mp4?cid=611b9182vyuwknqa3705pon0yt0d3l499u267gzivx2s2efo&ep=v1_gifs_search&rid=200.mp4&ct=g","webp_size":"179380","webp":"https://media3.giphy.com/media/ldsaj3XdIPb8s/200.webp?cid=611b9182vyuwknqa3705pon0yt0d3l499u267gzivx2s2efo&ep=v1_gifs_search&rid=200.webp&ct=g"},"fixed_height_downsampled":{"height":"200","width":"229","size":"153582","url":"https://media3.giphy.com/media/ldsaj3XdIPb8s/200_d.gif?cid=611b9182vyuwknqa3705pon0yt0d3l499u267gzivx2s2efo&ep=v1_gifs_search&rid=200_d.gif&ct=g","webp_size":"71782","webp":"https://media3.giphy.com/media/ldsaj3XdIPb8s/200_d.webp?cid=611b9182vyuwknqa3705pon0yt0d3l499u267gzivx2s2efo&ep=v1_gifs_search&rid=200_d.webp&ct=g"},"fixed_height_small":{"height":"100","width":"115","size":"180552","url":"https://media3.giphy.com/media/ldsaj3XdIPb8s/100.gif?cid=611b9182vyuwknqa3705pon0yt0d3l499u267gzivx2s2efo&ep=v1_gifs_search&rid=100.gif&ct=g","mp4_size":"18308","mp4":"https://media3.giphy.com/media/ldsaj3XdIPb8s/100.mp4?cid=611b9182vyuwknqa3705pon0yt0d3l499u267gzivx2s2efo&ep=v1_gifs_search&rid=100.mp4&ct=g","webp_size":"62744","webp":"https://media3.giphy.com/media/ldsaj3XdIPb8s/100.webp?cid=611b9182vyuwknqa3705pon0yt0d3l499u267gzivx2s2efo&ep=v1_gifs_search&rid=100.webp&ct=g"},"fixed_height_small_still":{"height":"100","width":"115","size":"7667","url":"https://media3.giphy.com/media/ldsaj3XdIPb8s/100_s.gif?cid=611b9182vyuwknqa3705pon0yt0d3l499u267gzivx2s2efo&ep=v1_gifs_search&rid=100_s.gif&ct=g"},"fixed_height_still":{"height":"200","width":"229","size":"24907","url":"https://media3.giphy.com/media/ldsaj3XdIPb8s/200_s.gif?cid=611b9182vyuwknqa3705pon0yt0d3l499u267gzivx2s2efo&ep=v1_gifs_search&rid=200_s.gif&ct=g"},"fixed_width":{"height":"175","width":"200","size":"427365","url":"https://media3.giphy.com/media/ldsaj3XdIPb8s/200w.gif?cid=611b9182vyuwknqa3705pon0yt0d3l499u267gzivx2s2efo&ep=v1_gifs_search&rid=200w.gif&ct=g","mp4_size":"35440","mp4":"https://media3.giphy.com/media/ldsaj3XdIPb8s/200w.mp4?cid=611b9182vyuwknqa3705pon0yt0d3l499u267gzivx2s2efo&ep=v1_gifs_search&rid=200w.mp4&ct=g","webp_size":"136130","webp":"https://media3.giphy.com/media/ldsaj3XdIPb8s/200w.webp?cid=611b9182vyuwknqa3705pon0yt0d3l499u267gzivx2s2efo&ep=v1_gifs_search&rid=200w.webp&ct=g"},"fixed_width_downsampled":{"height":"175","width":"200","size":"116933","url":"https://media3.giphy.com/media/ldsaj3XdIPb8s/200w_d.gif?cid=611b9182vyuwknqa3705pon0yt0d3l499u267gzivx2s2efo&ep=v1_gifs_search&rid=200w_d.gif&ct=g","webp_size":"54486","webp":"https://media3.giphy.com/media/ldsaj3XdIPb8s/200w_d.webp?cid=611b9182vyuwknqa3705pon0yt0d3l499u267gzivx2s2efo&ep=v1_gifs_search&rid=200w_d.webp&ct=g"},"fixed_width_small":{"height":"88","width":"100","size":"146696","url":"https://media3.giphy.com/media/ldsaj3XdIPb8s/100w.gif?cid=611b9182vyuwknqa3705pon0yt0d3l499u267gzivx2s2efo&ep=v1_gifs_search&rid=100w.gif&ct=g","mp4_size":"15314","mp4":"https://media3.giphy.com/media/ldsaj3XdIPb8s/100w.mp4?cid=611b9182vyuwknqa3705pon0yt0d3l499u267gzivx2s2efo&ep=v1_gifs_search&rid=100w.mp4&ct=g","webp_size":"51554","webp":"https://media3.giphy.com/media/ldsaj3XdIPb8s/100w.webp?cid=611b9182vyuwknqa3705pon0yt0d3l499u267gzivx2s2efo&ep=v1_gifs_search&rid=100w.webp&ct=g"},"fixed_width_small_still":{"height":"88","width":"100","size":"6336","url":"https://media3.giphy.com/media/ldsaj3XdIPb8s/100w_s.gif?cid=611b9182vyuwknqa3705pon0yt0d3l499u267gzivx2s2efo&ep=v1_gifs_search&rid=100w_s.gif&ct=g"},"fixed_width_still":{"height":"175","width":"200","size":"19151","url":"https://media3.giphy.com/media/ldsaj3XdIPb8s/200w_s.gif?cid=611b9182vyuwknqa3705pon0yt0d3l499u267gzivx2s2efo&ep=v1_gifs_search&rid=200w_s.gif&ct=g"},"looping":{"mp4_size":"966655","mp4":"https://media3.giphy.com/media/ldsaj3XdIPb8s/giphy-loop.mp4?cid=611b9182vyuwknqa3705pon0yt0d3l499u267gzivx2s2efo&ep=v1_gifs_search&rid=giphy-loop.mp4&ct=g"},"original_still":{"height":"280","width":"320","size":"50049","url":"https://media3.giphy.com/media/ldsaj3XdIPb8s/giphy_s.gif?cid=611b9182vyuwknqa3705pon0yt0d3l499u267gzivx2s2efo&ep=v1_gifs_search&rid=giphy_s.gif&ct=g"},"original_mp4":{"height":"420","width":"480","mp4_size":"167509","mp4":"https://media3.giphy.com/media/ldsaj3XdIPb8s/giphy.mp4?cid=611b9182vyuwknqa3705pon0yt0d3l499u267gzivx2s2efo&ep=v1_gifs_search&rid=giphy.mp4&ct=g"},"preview":{"height":"208","width":"240","mp4_size":"40899","mp4":"https://media3.giphy.com/media/ldsaj3XdIPb8s/giphy-preview.mp4?cid=611b9182vyuwknqa3705pon0yt0d3l499u267gzivx2s2efo&ep=v1_gifs_search&rid=giphy-preview.mp4&ct=g"},"preview_gif":{"height":"105","width":"120","size":"47899","url":"https://media3.giphy.com/media/ldsaj3XdIPb8s/giphy-preview.gif?cid=611b9182vyuwknqa3705pon0yt0d3l499u267gzivx2s2efo&ep=v1_gifs_search&rid=giphy-preview.gif&ct=g"},"preview_webp":{"height":"194","width":"222","size":"49276","url":"https://media3.giphy.com/media/ldsaj3XdIPb8s/giphy-preview.webp?cid=611b9182vyuwknqa3705pon0yt0d3l499u267gzivx2s2efo&ep=v1_gifs_search&rid=giphy-preview.webp&ct=g"},"480w_still":{"height":"420","width":"480","size":"1104386","url":"https://media3.giphy.com/media/ldsaj3XdIPb8s/480w_s.jpg?cid=611b9182vyuwknqa3705pon0yt0d3l499u267gzivx2s2efo&ep=v1_gifs_search&rid=480w_s.jpg&ct=g"}},"analytics_response_payload":"e=Z2lmX2lkPWxkc2FqM1hkSVBiOHMmZXZlbnRfdHlwZT1HSUZfU0VBUkNIJmNpZD02MTFiOTE4MnZ5dXdrbnFhMzcwNXBvbjB5dDBkM2w0OTl1MjY3Z3ppdngyczJlZm8mY3Q9Zw","analytics":{"onload":{"url":"https://giphy-analytics.giphy.com/v2/pingback_simple?analytics_response_payload=e%3DZ2lmX2lkPWxkc2FqM1hkSVBiOHMmZXZlbnRfdHlwZT1HSUZfU0VBUkNIJmNpZD02MTFiOTE4MnZ5dXdrbnFhMzcwNXBvbjB5dDBkM2w0OTl1MjY3Z3ppdngyczJlZm8mY3Q9Zw&action_type=SEEN"},"onclick":{"url":"https://giphy-analytics.giphy.com/v2/pingback_simple?analytics_response_payload=e%3DZ2lmX2lkPWxkc2FqM1hkSVBiOHMmZXZlbnRfdHlwZT1HSUZfU0VBUkNIJmNpZD02MTFiOTE4MnZ5dXdrbnFhMzcwNXBvbjB5dDBkM2w0OTl1MjY3Z3ppdngyczJlZm8mY3Q9Zw&action_type=CLICK"},"onsent":{"url":"https://giphy-analytics.giphy.com/v2/pingback_simple?analytics_response_payload=e%3DZ2lmX2lkPWxkc2FqM1hkSVBiOHMmZXZlbnRfdHlwZT1HSUZfU0VBUkNIJmNpZD02MTFiOTE4MnZ5dXdrbnFhMzcwNXBvbjB5dDBkM2w0OTl1MjY3Z3ppdngyczJlZm8mY3Q9Zw&action_type=SENT"}}},{"type":"gif","id":"Yzfsx3x8illqE","url":"https://giphy.com/gifs/life-irrational-man-Yzfsx3x8illqE","slug":"life-irrational-man-Yzfsx3x8illqE","bitly_gif_url":"http://gph.is/1TcUbYU","bitly_url":"http://gph.is/1TcUbYU","embed_url":"https://giphy.com/em[...]
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/search?api_key=<GIPHY_api_key>&limit=20&q=nsfw&rating=r
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Response-Time:
      - 33ms
      X-Cachiness-Shield-Rule:
      - giphy_api_search_long_ttl
      X-Cachiness-Shield-Desired-Ttl:
      - 21600s
      X-Cachiness-Shield-Actual-Ttl:
      [...]
