/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
log/test.log

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore uploaded files in development.
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep
tmp/cache/bootsnap/load-path-cache

# Ignore master key for decrypting credentials and more.
/config/master.key
/coverage
/coverage.data
coverage/.resultset.json
coverage/index.html
# Ignore application configuration
/config/application.yml

# Conflicting files
coverage/.resultset.json
coverage/index.html
log/test.log
tmp/cache/bootsnap/load-path-cache

tmp/cache/bootsnap/compile-cache-iseq/27/899a75441e00d6
.DS_Store
