---
http_interactions:
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/search?api_key=<GIPHY_api_key>&limit=20&q=&rating=r
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Response-Time:
      - 1ms
      X-Cachiness-Shield-Rule:
      - giphy_api_search_long_ttl
      X-Cachiness-Shield-Desired-Ttl:
      - 21600s
      X-Cachiness-Shield-Actual-Ttl:
      - '21600.000'
      X-Rule-Debug:
      - '1'
      X-Cachiness-Edge-Rule:
      - giphy_api_search_long_ttl
      X-Cachiness-Edge-Desired-Ttl:
      - 21600s
      X-Cachiness-Edge-Actual-Ttl:
      - '21600.000'
      X-Cachiness-Edge-Age:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[],"pagination":{"total_count":0,"count":0,"offset":0},"meta":{"status":200,"msg":"OK","response_id":"or2f4bf2h87dsooebkjvumnkgkn5eoh83ote3x4e"}}'
  recorded_at: Sat, 13 May 2023 16:45:07 GMT
recorded_with: VCR 6.1.0
