---
http_interactions:
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/search?api_key=<GIPHY_api_key>&limit=20&q=Everything%20would%20better%20more%20people%20were&rating=r
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Response-Time:
      - 92ms
      X-Cachiness-Shield-Rule:
      - giphy_api_search_long_ttl
      X-Cachiness-Shield-Desired-Ttl:
      - 21600s
      X-Cachiness-Shield-Actual-Ttl:
      - '21600.000'
      X-Rule-Debug:
      - '1'
      X-Cachiness-Edge-Rule:
      - giphy_api_search_long_ttl
      X-Cachiness-Edge-Desired-Ttl:
      - 21600s
      X-Cachiness-Edge-Actual-Ttl:
      - '21600.000'
      X-Cachiness-Edge-Age:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"gif","id":"3ornk8qdH7xXDg0p56","url":"https://giphy.com/gifs/namslam-corgi-life-3ornk8qdH7xXDg0p56","slug":"namslam-corgi-life-3ornk8qdH7xXDg0p56","bitly_gif_url":"http://gph.is/1Rk1ZXr","bitly_url":"http://gph.is/1Rk1ZXr","embed_url":"https://giphy.com/embed/3ornk8qdH7xXDg0p56","username":"namslam","source":"","title":"Corgi
        Life GIF by namslam","rating":"g","content_url":"","source_tld":"","source_post_url":"","is_sticker":0,"import_datetime":"2016-03-01
        19:33:03","trending_datetime":"2016-03-30 03:45:01","images":{"original":{"height":"254","width":"480","size":"2169449","url":"https://media0.giphy.com/media/3ornk8qdH7xXDg0p56/giphy.gif?cid=611b9182ntpz8709opzod07llm8hsf7zt85wcpxmi17tim5s&ep=v1_gifs_search&rid=giphy.gif&ct=g","mp4_size":"641352","mp4":"https://media0.giphy.com/media/3ornk8qdH7xXDg0p56/giphy.mp4?cid=611b9182ntpz8709opzod07llm8hsf7zt85wcpxmi17tim5s&ep=v1_gifs_search&rid=giphy.mp4&ct=g","webp_size":"879956","webp":"https://media0.giphy.com/media/3ornk8qdH7xXDg0p56/giphy.webp?cid=611b9182ntpz8709opzod07llm8hsf7zt85wcpxmi17tim5s&ep=v1_gifs_search&rid=giphy.webp&ct=g","frames":"48","hash":"eb0dc1a81c51f96d82bb8fd9ac243e01"},"downsized":{"height":"254","width":"480","size":"1400719","url":"https://media0.giphy.com/media/3ornk8qdH7xXDg0p56/giphy-downsized.gif?cid=611b9182ntpz8709opzod07llm8hsf7zt85wcpxmi17tim5s&ep=v1_gifs_search&rid=giphy-downsized.gif&ct=g"},"downsized_large":{"height":"254","width":"480","size":"2169449","url":"https://media0.giphy.com/media/3ornk8qdH7xXDg0p56/giphy.gif?cid=611b9182ntpz8709opzod07llm8hsf7zt85wcpxmi17tim5s&ep=v1_gifs_search&rid=giphy.gif&ct=g"},"downsized_medium":{"height":"254","width":"480","size":"2169449","url":"https://media0.giphy.com/media/3ornk8qdH7xXDg0p56/giphy.gif?cid=611b9182ntpz8709opzod07llm8hsf7zt85wcpxmi17tim5s&ep=v1_gifs_search&rid=giphy.gif&ct=g"},"downsized_small":{"height":"132","width":"249","mp4_size":"84569","mp4":"https://media0.giphy.com/media/3ornk8qdH7xXDg0p56/giphy-downsized-small.mp4?cid=611b9182ntpz8709opzod07llm8hsf7zt85wcpxmi17tim5s&ep=v1_gifs_search&rid=giphy-downsized-small.mp4&ct=g"},"downsized_still":{"height":"254","width":"480","size":"29950","url":"https://media0.giphy.com/media/3ornk8qdH7xXDg0p56/giphy-downsized_s.gif?cid=611b9182ntpz8709opzod07llm8hsf7zt85wcpxmi17tim5s&ep=v1_gifs_search&rid=giphy-downsized_s.gif&ct=g"},"fixed_height":{"height":"200","width":"378","size":"1249211","url":"https://media0.giphy.com/media/3ornk8qdH7xXDg0p56/200.gif?cid=611b9182ntpz8709opzod07llm8hsf7zt85wcpxmi17tim5s&ep=v1_gifs_search&rid=200.gif&ct=g","mp4_size":"342359","mp4":"https://media0.giphy.com/media/3ornk8qdH7xXDg0p56/200.mp4?cid=611b9182ntpz8709opzod07llm8hsf7zt85wcpxmi17tim5s&ep=v1_gifs_search&rid=200.mp4&ct=g","webp_size":"600810","webp":"https://media0.giphy.com/media/3ornk8qdH7xXDg0p56/200.webp?cid=611b9182ntpz8709opzod07llm8hsf7zt85wcpxmi17tim5s&ep=v1_gifs_search&rid=200.webp&ct=g"},"fixed_height_downsampled":{"height":"200","width":"378","size":"188162","url":"https://media0.giphy.com/media/3ornk8qdH7xXDg0p56/200_d.gif?cid=611b9182ntpz8709opzod07llm8hsf7zt85wcpxmi17tim5s&ep=v1_gifs_search&rid=200_d.gif&ct=g","webp_size":"109472","webp":"https://media0.giphy.com/media/3ornk8qdH7xXDg0p56/200_d.webp?cid=611b9182ntpz8709opzod07llm8hsf7zt85wcpxmi17tim5s&ep=v1_gifs_search&rid=200_d.webp&ct=g"},"fixed_height_small":{"height":"100","width":"189","size":"496018","url":"https://media0.giphy.com/media/3ornk8qdH7xXDg0p56/100.gif?cid=611b9182ntpz8709opzod07llm8hsf7zt85wcpxmi17tim5s&ep=v1_gifs_search&rid=100.gif&ct=g","mp4_size":"99664","mp4":"https://media0.giphy.com/media/3ornk8qdH7xXDg0p56/100.mp4?cid=611b9182ntpz8709opzod07llm8hsf7zt85wcpxmi17tim5s&ep=v1_gifs_search&rid=100.mp4&ct=g","webp_size":"220544","webp":"https://media0.giphy.com/media/3ornk8qdH7xXDg0p56/100.webp?cid=611b9182ntpz8709opzod07llm8hsf7zt85wcpxmi17tim5s&ep=v1_gifs_search&rid=100.webp&ct=g"},"fixed_height_small_still":{"height":"100","width":"189","size":"10324","url":"https://media0.giphy.com/media/3ornk8qdH7xXDg0p56/100_s.gif?cid=611b9182ntpz8709opzod07llm8hsf7zt85wcpxmi17tim5s&ep=v1_gifs_search&rid=100_s.gif&ct=g"},"fixed_height_still":{"height":"200","width":"378","size":"26537","url":"https://media0.giphy.com/media/3ornk8qdH7xXDg0p56/200_s.gif?cid=611b9182ntpz8709opzod07llm8hsf7zt85wcpxmi17tim5s&ep=v1_gifs_search&rid=200_s.gif&ct=g"},"fixed_width":{"height":"106","width":"200","size":"522426","url":"https://media0.giphy.com/media/3ornk8qdH7xXDg0p56/200w.gif?cid=611b9182ntpz8709opzod07llm8hsf7zt85wcpxmi17tim5s&ep=v1_gifs_search&rid=200w.gif&ct=g","mp4_size":"112892","mp4":"https://media0.giphy.com/media/3ornk8qdH7xXDg0p56/200w.mp4?cid=611b9182ntpz8709opzod07llm8hsf7zt85wcpxmi17tim5s&ep=v1_gifs_search&rid=200w.mp4&ct=g","webp_size":"245440","webp":"https://media0.giphy.com/media/3ornk8qdH7xXDg0p56/200w.webp?cid=611b9182ntpz8709opzod07llm8hsf7zt85wcpxmi17tim5s&ep=v1_gifs_search&rid=200w.webp&ct=g"},"fixed_width_downsampled":{"height":"106","width":"200","size":"69258","url":"https://media0.giphy.com/media/3ornk8qdH7xXDg0p56/200w_d.gif?cid=611b9182ntpz8709opzod07llm8hsf7zt85wcpxmi17tim5s&ep=v1_gifs_search&rid=200w_d.gif&ct=g","webp_size":"38850","webp":"https://media0.giphy.com/media/3ornk8qdH7xXDg0p56/200w_d.webp?cid=611b9182ntpz8709opzod07llm8hsf7zt85wcpxmi17tim5s&ep=v1_gifs_search&rid=200w_d.webp&ct=g"},"fixed_width_small":{"height":"53","width":"100","size":"149927","url":"https://media0.giphy.com/media/3ornk8qdH7xXDg0p56/100w.gif?cid=611b9182ntpz8709opzod07llm8hsf7zt85wcpxmi17tim5s&ep=v1_gifs_search&rid=100w.gif&ct=g","mp4_size":"35766","mp4":"https://media0.giphy.com/media/3ornk8qdH7xXDg0p56/100w.mp4?cid=611b9182ntpz8709opzod07llm8hsf7zt85wcpxmi17tim5s&ep=v1_gifs_search&rid=100w.mp4&ct=g","webp_size":"86066","webp":"https://media0.giphy.com/media/3ornk8qdH7xXDg0p56/100w.webp?cid=611b9182ntpz8709opzod07llm8hsf7zt85wcpxmi17tim5s&ep=v1_gifs_search&rid=100w.webp&ct=g"},"fixed_width_small_still":{"height":"53","width":"100","size":"4006","url":"https://media0.giphy.com/media/3ornk8qdH7xXDg0p56/100w_s.gif?cid=611b9182ntpz8709opzod07llm8hsf7zt85wcpxmi17tim5s&ep=v1_gifs_search&rid=100w_s.gif&ct=g"},"fixed_width_still":{"height":"106","width":"200","size":"11398","url":"https://media0.giphy.com/media/3ornk8qdH7xXDg0p56/200w_s.gif?cid=611b9182ntpz8709opzod07llm8hsf7zt85wcpxmi17tim5s&ep=v1_gifs_search&rid=200w_s.gif&ct=g"},"looping":{"mp4_size":"2229233","mp4":"https://media0.giphy.com/media/3ornk8qdH7xXDg0p56/giphy-loop.mp4?cid=611b9182ntpz8709opzod07llm8hsf7zt85wcpxmi17tim5s&ep=v1_gifs_search&rid=giphy-loop.mp4&ct=g"},"original_still":{"height":"254","width":"480","size":"57809","url":"https://media0.giphy.com/media/3ornk8qdH7xXDg0p56/giphy_s.gif?cid=611b9182ntpz8709opzod07llm8hsf7zt85wcpxmi17tim5s&ep=v1_gifs_search&rid=giphy_s.gif&ct=g"},"original_mp4":{"height":"254","width":"480","mp4_size":"641352","mp4":"https://media0.giphy.com/media/3ornk8qdH7xXDg0p56/giphy.mp4?cid=611b9182ntpz8709opzod07llm8hsf7zt85wcpxmi17tim5s&ep=v1_gifs_search&rid=giphy.mp4&ct=g"},"preview":{"height":"156","width":"294","mp4_size":"39032","mp4":"https://media0.giphy.com/media/3ornk8qdH7xXDg0p56/giphy-preview.mp4?cid=611b9182ntpz8709opzod07llm8hsf7zt85wcpxmi17tim5s&ep=v1_gifs_search&rid=giphy-preview.mp4&ct=g"},"preview_gif":{"height":"54","width":"102","size":"48758","url":"https://media0.giphy.com/media/3ornk8qdH7xXDg0p56/giphy-preview.gif?cid=611b9182ntpz8709opzod07llm8hsf7zt85wcpxmi17tim5s&ep=v1_gifs_search&rid=giphy-preview.gif&ct=g"},"preview_webp":{"height":"100","width":"188","size":"45550","url":"https://media0.giphy.com/media/3ornk8qdH7xXDg0p56/giphy-preview.webp?cid=611b9182ntpz8709opzod07llm8hsf7zt85wcpxmi17tim5s&ep=v1_gifs_search&rid=giphy-preview.webp&ct=g"},"480w_still":{"height":"254","width":"480","size":"2169449","url":"https://media0.giphy.com/media/3ornk8qdH7xXDg0p56/480w_s.jpg?cid=611b9182ntpz8709opzod07llm8hsf7zt85wcpxmi17tim5s&ep=v1_gifs_search&rid=480w_s.jpg&ct=g"}},"user":{"avatar_url":"https://media3.giphy.com/avatars/namslam/1HAeoAC20Wvx.PNG","banner_image":"https://media3.giphy.com/headers/namslam/6kdUttBIGWnB.gif","banner_url":"https://media3.giphy.com/headers/namslam/6kdUttBIGWnB.gif","profile_url":"https://giphy.com/namslam/","username":"namslam","display_name":"namslam","description":"namb''s
        club","instagram_url":"https://instagram.com/@nemslem","website_url":"","is_verified":false},"analytics_response_payload":"e=Z2lmX2lkPTNvcm5rOHFkSDd4WERnMHA1NiZldmVudF90eXBlPUdJRl9TRUFSQ0gmY2lkPTYxMWI5MTgybnRwejg3MDlvcHpvZDA3bGxtOGhzZjd6dDg1d2NweG1pMTd0aW01cyZjdD1n","analytics":{"onload":{"url":"https://giphy-analytics.giphy.com/v2/pingback_simple?analytics_response_payload=e%3DZ2lmX2lkPTNvcm5rOHFkSDd4WERnMHA1NiZldmVudF90eXBlPUdJRl9TRUFSQ0gmY2lkPTYxMWI5MTgybnRwejg3MDlvcHpvZDA3bGxtOGhzZjd6dDg1d2NweG1pMTd0aW01cyZjdD1n&action_type=SEEN"},"onclick":{"url":"https://giphy-analytics.giphy.com/v2/pingback_simple?analytics_response_payload=e%3DZ2lmX2lkPTNvcm5rOHFkSDd4WERnMHA1NiZldmVudF90eXBlPUdJRl9TRUFSQ0gmY2lkPTYxMWI5MTgybnRwejg3MDlvcHpvZDA3bGxtOGhzZjd6dDg1d2NweG1pMTd0aW01cyZjdD1n&action_type=CLICK"},"onsent":{"url":"https://giphy-analytics.giphy.com/v2/pingback_simple?analytics_response_payload=e%3DZ2lmX2lkPTNvcm5rOHFkSDd4WERnMHA1NiZldmVudF90eXBlPUdJRl9TRUFSQ0gmY2lkPTYxMWI5MTgybnRwejg3MDlvcHpvZDA3bGxtOGhzZjd6dDg1d2NweG1pMTd0aW01cyZjdD1n&action_type=SENT"}}},{"type":"gif","id":"5rom8xUtQN9FkITYbw","url":"https://giphy.com/gifs/onechicago-5rom8xUtQN9FkITYbw","slug":"onechicago-5rom8xUtQN9FkITYbw","bitly_gif_url":"https://gph.is/g/Z2QRQvb","bitly_url":"https://gph.is/g/Z2QRQvb","embed_url":"https://gip[...]
