---
http_interactions:
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/search?api_key=<GIPHY_api_key>&limit=20&q=If%20I%20throw%20a%20stick,%20will%20you%20leave?&rating=r
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Response-Time:
      - 91ms
      X-Cachiness-Shield-Rule:
      - giphy_api_search_long_ttl
      X-Cachiness-Shield-Desired-Ttl:
      - 21600s
      X-Cachiness-Shield-Actual-Ttl:
      - '21600.000'
      X-Rule-Debug:
      - '1'
      X-Cachiness-Edge-Rule:
      - giphy_api_search_long_ttl
      X-Cachiness-Edge-Desired-Ttl:
      - 21600s
      X-Cachiness-Edge-Actual-Ttl:
      - '21600.000'
      X-Cachiness-Edge-Age:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"gif","id":"H4zBcroBsZCQO5MkYH","url":"https://giphy.com/gifs/thelonelyisland-i-think-you-should-leave-tim-robinson-itysl-H4zBcroBsZCQO5MkYH","slug":"thelonelyisland-i-think-you-should-leave-tim-robinson-itysl-H4zBcroBsZCQO5MkYH","bitly_gif_url":"https://gph.is/g/4gBmMJq","bitly_url":"https://gph.is/g/4gBmMJq","embed_url":"https://giphy.com/embed/H4zBcroBsZCQO5MkYH","username":"thelonelyisland","source":"http://www.thelonelyisland.com","title":"Tim
        Robinson No GIF by The Lonely Island","rating":"pg","content_url":"","source_tld":"www.thelonelyisland.com","source_post_url":"http://www.thelonelyisland.com","is_sticker":0,"import_datetime":"2019-09-04
        20:21:41","trending_datetime":"0000-00-00 00:00:00","images":{"original":{"height":"360","width":"480","size":"2544795","url":"https://media4.giphy.com/media/H4zBcroBsZCQO5MkYH/giphy.gif?cid=611b9182g7uxa6n1u2i0wlpf9nhzhrnrao2d6swlkb7kavlw&ep=v1_gifs_search&rid=giphy.gif&ct=g","mp4_size":"371826","mp4":"https://media4.giphy.com/media/H4zBcroBsZCQO5MkYH/giphy.mp4?cid=611b9182g7uxa6n1u2i0wlpf9nhzhrnrao2d6swlkb7kavlw&ep=v1_gifs_search&rid=giphy.mp4&ct=g","webp_size":"534254","webp":"https://media4.giphy.com/media/H4zBcroBsZCQO5MkYH/giphy.webp?cid=611b9182g7uxa6n1u2i0wlpf9nhzhrnrao2d6swlkb7kavlw&ep=v1_gifs_search&rid=giphy.webp&ct=g","frames":"38","hash":"917116d7cb8ef041e4636496f5420d25"},"downsized":{"height":"360","width":"480","size":"1459273","url":"https://media4.giphy.com/media/H4zBcroBsZCQO5MkYH/giphy-downsized.gif?cid=611b9182g7uxa6n1u2i0wlpf9nhzhrnrao2d6swlkb7kavlw&ep=v1_gifs_search&rid=giphy-downsized.gif&ct=g"},"downsized_large":{"height":"360","width":"480","size":"2544795","url":"https://media4.giphy.com/media/H4zBcroBsZCQO5MkYH/giphy.gif?cid=611b9182g7uxa6n1u2i0wlpf9nhzhrnrao2d6swlkb7kavlw&ep=v1_gifs_search&rid=giphy.gif&ct=g"},"downsized_medium":{"height":"360","width":"480","size":"2544795","url":"https://media4.giphy.com/media/H4zBcroBsZCQO5MkYH/giphy.gif?cid=611b9182g7uxa6n1u2i0wlpf9nhzhrnrao2d6swlkb7kavlw&ep=v1_gifs_search&rid=giphy.gif&ct=g"},"downsized_small":{"height":"264","width":"352","mp4_size":"103273","mp4":"https://media4.giphy.com/media/H4zBcroBsZCQO5MkYH/giphy-downsized-small.mp4?cid=611b9182g7uxa6n1u2i0wlpf9nhzhrnrao2d6swlkb7kavlw&ep=v1_gifs_search&rid=giphy-downsized-small.mp4&ct=g"},"downsized_still":{"height":"360","width":"480","size":"39824","url":"https://media4.giphy.com/media/H4zBcroBsZCQO5MkYH/giphy-downsized_s.gif?cid=611b9182g7uxa6n1u2i0wlpf9nhzhrnrao2d6swlkb7kavlw&ep=v1_gifs_search&rid=giphy-downsized_s.gif&ct=g"},"fixed_height":{"height":"200","width":"267","size":"671866","url":"https://media4.giphy.com/media/H4zBcroBsZCQO5MkYH/200.gif?cid=611b9182g7uxa6n1u2i0wlpf9nhzhrnrao2d6swlkb7kavlw&ep=v1_gifs_search&rid=200.gif&ct=g","mp4_size":"135548","mp4":"https://media4.giphy.com/media/H4zBcroBsZCQO5MkYH/200.mp4?cid=611b9182g7uxa6n1u2i0wlpf9nhzhrnrao2d6swlkb7kavlw&ep=v1_gifs_search&rid=200.mp4&ct=g","webp_size":"262138","webp":"https://media4.giphy.com/media/H4zBcroBsZCQO5MkYH/200.webp?cid=611b9182g7uxa6n1u2i0wlpf9nhzhrnrao2d6swlkb7kavlw&ep=v1_gifs_search&rid=200.webp&ct=g"},"fixed_height_downsampled":{"height":"200","width":"267","size":"113272","url":"https://media4.giphy.com/media/H4zBcroBsZCQO5MkYH/200_d.gif?cid=611b9182g7uxa6n1u2i0wlpf9nhzhrnrao2d6swlkb7kavlw&ep=v1_gifs_search&rid=200_d.gif&ct=g","webp_size":"69952","webp":"https://media4.giphy.com/media/H4zBcroBsZCQO5MkYH/200_d.webp?cid=611b9182g7uxa6n1u2i0wlpf9nhzhrnrao2d6swlkb7kavlw&ep=v1_gifs_search&rid=200_d.webp&ct=g"},"fixed_height_small":{"height":"100","width":"134","size":"216637","url":"https://media4.giphy.com/media/H4zBcroBsZCQO5MkYH/100.gif?cid=611b9182g7uxa6n1u2i0wlpf9nhzhrnrao2d6swlkb7kavlw&ep=v1_gifs_search&rid=100.gif&ct=g","mp4_size":"51738","mp4":"https://media4.giphy.com/media/H4zBcroBsZCQO5MkYH/100.mp4?cid=611b9182g7uxa6n1u2i0wlpf9nhzhrnrao2d6swlkb7kavlw&ep=v1_gifs_search&rid=100.mp4&ct=g","webp_size":"109636","webp":"https://media4.giphy.com/media/H4zBcroBsZCQO5MkYH/100.webp?cid=611b9182g7uxa6n1u2i0wlpf9nhzhrnrao2d6swlkb7kavlw&ep=v1_gifs_search&rid=100.webp&ct=g"},"fixed_height_small_still":{"height":"100","width":"134","size":"6977","url":"https://media4.giphy.com/media/H4zBcroBsZCQO5MkYH/100_s.gif?cid=611b9182g7uxa6n1u2i0wlpf9nhzhrnrao2d6swlkb7kavlw&ep=v1_gifs_search&rid=100_s.gif&ct=g"},"fixed_height_still":{"height":"200","width":"267","size":"21025","url":"https://media4.giphy.com/media/H4zBcroBsZCQO5MkYH/200_s.gif?cid=611b9182g7uxa6n1u2i0wlpf9nhzhrnrao2d6swlkb7kavlw&ep=v1_gifs_search&rid=200_s.gif&ct=g"},"fixed_width":{"height":"150","width":"200","size":"441007","url":"https://media4.giphy.com/media/H4zBcroBsZCQO5MkYH/200w.gif?cid=611b9182g7uxa6n1u2i0wlpf9nhzhrnrao2d6swlkb7kavlw&ep=v1_gifs_search&rid=200w.gif&ct=g","mp4_size":"89210","mp4":"https://media4.giphy.com/media/H4zBcroBsZCQO5MkYH/200w.mp4?cid=611b9182g7uxa6n1u2i0wlpf9nhzhrnrao2d6swlkb7kavlw&ep=v1_gifs_search&rid=200w.mp4&ct=g","webp_size":"183512","webp":"https://media4.giphy.com/media/H4zBcroBsZCQO5MkYH/200w.webp?cid=611b9182g7uxa6n1u2i0wlpf9nhzhrnrao2d6swlkb7kavlw&ep=v1_gifs_search&rid=200w.webp&ct=g"},"fixed_width_downsampled":{"height":"150","width":"200","size":"72101","url":"https://media4.giphy.com/media/H4zBcroBsZCQO5MkYH/200w_d.gif?cid=611b9182g7uxa6n1u2i0wlpf9nhzhrnrao2d6swlkb7kavlw&ep=v1_gifs_search&rid=200w_d.gif&ct=g","webp_size":"44596","webp":"https://media4.giphy.com/media/H4zBcroBsZCQO5MkYH/200w_d.webp?cid=611b9182g7uxa6n1u2i0wlpf9nhzhrnrao2d6swlkb7kavlw&ep=v1_gifs_search&rid=200w_d.webp&ct=g"},"fixed_width_small":{"height":"75","width":"100","size":"141300","url":"https://media4.giphy.com/media/H4zBcroBsZCQO5MkYH/100w.gif?cid=611b9182g7uxa6n1u2i0wlpf9nhzhrnrao2d6swlkb7kavlw&ep=v1_gifs_search&rid=100w.gif&ct=g","mp4_size":"34057","mp4":"https://media4.giphy.com/media/H4zBcroBsZCQO5MkYH/100w.mp4?cid=611b9182g7uxa6n1u2i0wlpf9nhzhrnrao2d6swlkb7kavlw&ep=v1_gifs_search&rid=100w.mp4&ct=g","webp_size":"74290","webp":"https://media4.giphy.com/media/H4zBcroBsZCQO5MkYH/100w.webp?cid=611b9182g7uxa6n1u2i0wlpf9nhzhrnrao2d6swlkb7kavlw&ep=v1_gifs_search&rid=100w.webp&ct=g"},"fixed_width_small_still":{"height":"75","width":"100","size":"4537","url":"https://media4.giphy.com/media/H4zBcroBsZCQO5MkYH/100w_s.gif?cid=611b9182g7uxa6n1u2i0wlpf9nhzhrnrao2d6swlkb7kavlw&ep=v1_gifs_search&rid=100w_s.gif&ct=g"},"fixed_width_still":{"height":"150","width":"200","size":"16681","url":"https://media4.giphy.com/media/H4zBcroBsZCQO5MkYH/200w_s.gif?cid=611b9182g7uxa6n1u2i0wlpf9nhzhrnrao2d6swlkb7kavlw&ep=v1_gifs_search&rid=200w_s.gif&ct=g"},"looping":{"mp4_size":"1979342","mp4":"https://media4.giphy.com/media/H4zBcroBsZCQO5MkYH/giphy-loop.mp4?cid=611b9182g7uxa6n1u2i0wlpf9nhzhrnrao2d6swlkb7kavlw&ep=v1_gifs_search&rid=giphy-loop.mp4&ct=g"},"original_still":{"height":"360","width":"480","size":"69675","url":"https://media4.giphy.com/media/H4zBcroBsZCQO5MkYH/giphy_s.gif?cid=611b9182g7uxa6n1u2i0wlpf9nhzhrnrao2d6swlkb7kavlw&ep=v1_gifs_search&rid=giphy_s.gif&ct=g"},"original_mp4":{"height":"360","width":"480","mp4_size":"371826","mp4":"https://media4.giphy.com/media/H4zBcroBsZCQO5MkYH/giphy.mp4?cid=611b9182g7uxa6n1u2i0wlpf9nhzhrnrao2d6swlkb7kavlw&ep=v1_gifs_search&rid=giphy.mp4&ct=g"},"preview":{"height":"224","width":"298","mp4_size":"36217","mp4":"https://media4.giphy.com/media/H4zBcroBsZCQO5MkYH/giphy-preview.mp4?cid=611b9182g7uxa6n1u2i0wlpf9nhzhrnrao2d6swlkb7kavlw&ep=v1_gifs_search&rid=giphy-preview.mp4&ct=g"},"preview_gif":{"height":"60","width":"80","size":"47087","url":"https://media4.giphy.com/media/H4zBcroBsZCQO5MkYH/giphy-preview.gif?cid=611b9182g7uxa6n1u2i0wlpf9nhzhrnrao2d6swlkb7kavlw&ep=v1_gifs_search&rid=giphy-preview.gif&ct=g"},"preview_webp":{"height":"144","width":"192","size":"43068","url":"https://media4.giphy.com/media/H4zBcroBsZCQO5MkYH/giphy-preview.webp?cid=611b9182g7uxa6n1u2i0wlpf9nhzhrnrao2d6swlkb7kavlw&ep=v1_gifs_search&rid=giphy-preview.webp&ct=g"},"hd":{"height":"1050","width":"1400","mp4_size":"2659415","mp4":"https://media4.giphy.com/media/H4zBcroBsZCQO5MkYH/giphy-hd.mp4?cid=611b9182g7uxa6n1u2i0wlpf9nhzhrnrao2d6swlkb7kavlw&ep=v1_gifs_search&rid=giphy-hd.mp4&ct=g"},"480w_still":{"height":"360","width":"480","size":"2544795","url":"https://media4.giphy.com/media/H4zBcroBsZCQO5MkYH/480w_s.jpg?cid=611b9182g7uxa6n1u2i0wlpf9nhzhrnrao2d6swlkb7kavlw&ep=v1_gifs_search&rid=480w_s.jpg&ct=g"}},"user":{"avatar_url":"https://media2.giphy.com/avatars/thelonelyisland/xeKg7YHsR1mV.gif","banner_image":"https://media2.giphy.com/headers/thelonelyisland/hYqqtAS9XKMh.jpeg","banner_url":"https://media2.giphy.com/headers/thelonelyisland/hYqqtAS9XKMh.jpeg","profile_url":"https://giphy.com/thelonelyisland/","username":"thelonelyisland","display_name":"The
        Lonely Island","description":"","instagram_url":"https://instagram.com/thelonelyisland","website_url":"http://www.thelonelyisland.com","is_verified":true},"analytics_response_payload":"e=Z2lmX2lkPUg0ekJjcm9Cc1pDUU81TWtZSCZldmVudF90eXBlPUdJRl9TRUFSQ0gmY2lkPTYxMWI5MTgyZzd1eGE2bjF1Mmkwd2xwZjluaHpocm5yYW8yZDZzd2xrYjdrYXZsdyZjdD1n","analytics":{"onload":{"url":"https://giphy-analytics.giphy.com/v2/pingback_simple?analytics_response_payload=e%3DZ2lmX2lkPUg0ekJjcm9Cc1pDUU81TWtZSCZldmVudF90eXBlPUdJRl9TRUFSQ0gmY2lkPTYxMWI5MTgyZzd1eGE2bjF1Mmkwd2xwZjluaHpocm5yYW8yZDZzd2xrYjdrYXZsdyZjdD1n&action_type=SEEN"},"onclick":{"url":"https://giphy-analytics.giphy.com/v2/pingback_simple?analytics_response_payload=e%3DZ2lmX2lkPUg0ekJjcm9Cc1pDUU81TWtZSCZldmVudF90eXBlPUdJRl9TRUFSQ0gmY2lkPTYxMWI5MTgyZzd1eGE2bjF1Mmkwd2xwZjluaHpocm5yYW8yZDZzd2xrYjdrYXZsdyZjdD1n&action_type=CLICK"},"onsent":{"url":"https://giphy-analytics.giphy.com/v2/pingback_simple?analytics_response_payload=e%3DZ2lmX2lkPUg0ekJjcm9Cc1pDUU81TWtZSCZldmVudF90eXBlPUdJRl9TRUFSQ0gmY2lkPTYxMWI5MTgyZzd1eGE2bjF1Mmkwd2xwZjluaHpocm5yYW8yZDZzd2xrYjdrYXZsdyZjdD1n&action_type=SENT"}}},{"type":"gif","id":"Gzvo3F4TBUm1W","url":"https://giphy.com/gifs/stick-figure-Gzvo3F4TBUm1W","slug":"stick-figure-Gzvo3F4TBUm1W","bitly_gif_url":"http://gph.is/2dozeNI","bitly_url":"http://gph.is/2dozeNI","embed_url":"https://giphy.com/embed/Gzvo[...]
