---
http_interactions:
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/search?api_key=<GIPHY_api_key>&limit=20&q=throw%20stick,%20will%20leave?&rating=r
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Response-Time:
      - 59ms
      X-Cachiness-Shield-Rule:
      - giphy_api_search_long_ttl
      X-Cachiness-Shield-Desired-Ttl:
      - 21600s
      X-Cachiness-Shield-Actual-Ttl:
      - '21600.000'
      X-Rule-Debug:
      - '1'
      X-Cachiness-Edge-Rule:
      - giphy_api_search_long_ttl
      X-Cachiness-Edge-Desired-Ttl:
      - 21600s
      X-Cachiness-Edge-Actual-Ttl:
      - '21600.000'
      X-Cachiness-Edge-Age:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"gif","id":"Gzvo3F4TBUm1W","url":"https://giphy.com/gifs/stick-figure-Gzvo3F4TBUm1W","slug":"stick-figure-Gzvo3F4TBUm1W","bitly_gif_url":"http://gph.is/2dozeNI","bitly_url":"http://gph.is/2dozeNI","embed_url":"https://giphy.com/embed/Gzvo3F4TBUm1W","username":"","source":"http://www.clipartbro.com/categories/sad-stick-man-clipart","title":"leaving
        now stick figure GIF","rating":"g","content_url":"","source_tld":"www.clipartbro.com","source_post_url":"http://www.clipartbro.com/categories/sad-stick-man-clipart","is_sticker":0,"import_datetime":"2016-09-27
        12:05:47","trending_datetime":"0000-00-00 00:00:00","images":{"original":{"height":"289","width":"405","size":"243502","url":"https://media1.giphy.com/media/Gzvo3F4TBUm1W/giphy.gif?cid=611b9182kse3ocn3sjqigvxk5ezfdinv3a41wsavundz2jy5&ep=v1_gifs_search&rid=giphy.gif&ct=g","mp4_size":"54140","mp4":"https://media1.giphy.com/media/Gzvo3F4TBUm1W/giphy.mp4?cid=611b9182kse3ocn3sjqigvxk5ezfdinv3a41wsavundz2jy5&ep=v1_gifs_search&rid=giphy.mp4&ct=g","webp_size":"130294","webp":"https://media1.giphy.com/media/Gzvo3F4TBUm1W/giphy.webp?cid=611b9182kse3ocn3sjqigvxk5ezfdinv3a41wsavundz2jy5&ep=v1_gifs_search&rid=giphy.webp&ct=g","frames":"31","hash":"ffbd6a26d220250ff463e2707ca42c7f"},"downsized":{"height":"289","width":"405","size":"243502","url":"https://media1.giphy.com/media/Gzvo3F4TBUm1W/giphy.gif?cid=611b9182kse3ocn3sjqigvxk5ezfdinv3a41wsavundz2jy5&ep=v1_gifs_search&rid=giphy.gif&ct=g"},"downsized_large":{"height":"289","width":"405","size":"243502","url":"https://media1.giphy.com/media/Gzvo3F4TBUm1W/giphy.gif?cid=611b9182kse3ocn3sjqigvxk5ezfdinv3a41wsavundz2jy5&ep=v1_gifs_search&rid=giphy.gif&ct=g"},"downsized_medium":{"height":"289","width":"405","size":"243502","url":"https://media1.giphy.com/media/Gzvo3F4TBUm1W/giphy.gif?cid=611b9182kse3ocn3sjqigvxk5ezfdinv3a41wsavundz2jy5&ep=v1_gifs_search&rid=giphy.gif&ct=g"},"downsized_small":{"height":"288","width":"404","mp4_size":"42990","mp4":"https://media1.giphy.com/media/Gzvo3F4TBUm1W/giphy-downsized-small.mp4?cid=611b9182kse3ocn3sjqigvxk5ezfdinv3a41wsavundz2jy5&ep=v1_gifs_search&rid=giphy-downsized-small.mp4&ct=g"},"downsized_still":{"height":"289","width":"405","size":"243502","url":"https://media1.giphy.com/media/Gzvo3F4TBUm1W/giphy_s.gif?cid=611b9182kse3ocn3sjqigvxk5ezfdinv3a41wsavundz2jy5&ep=v1_gifs_search&rid=giphy_s.gif&ct=g"},"fixed_height":{"height":"200","width":"280","size":"139379","url":"https://media1.giphy.com/media/Gzvo3F4TBUm1W/200.gif?cid=611b9182kse3ocn3sjqigvxk5ezfdinv3a41wsavundz2jy5&ep=v1_gifs_search&rid=200.gif&ct=g","mp4_size":"23526","mp4":"https://media1.giphy.com/media/Gzvo3F4TBUm1W/200.mp4?cid=611b9182kse3ocn3sjqigvxk5ezfdinv3a41wsavundz2jy5&ep=v1_gifs_search&rid=200.mp4&ct=g","webp_size":"76700","webp":"https://media1.giphy.com/media/Gzvo3F4TBUm1W/200.webp?cid=611b9182kse3ocn3sjqigvxk5ezfdinv3a41wsavundz2jy5&ep=v1_gifs_search&rid=200.webp&ct=g"},"fixed_height_downsampled":{"height":"200","width":"280","size":"27686","url":"https://media1.giphy.com/media/Gzvo3F4TBUm1W/200_d.gif?cid=611b9182kse3ocn3sjqigvxk5ezfdinv3a41wsavundz2jy5&ep=v1_gifs_search&rid=200_d.gif&ct=g","webp_size":"17342","webp":"https://media1.giphy.com/media/Gzvo3F4TBUm1W/200_d.webp?cid=611b9182kse3ocn3sjqigvxk5ezfdinv3a41wsavundz2jy5&ep=v1_gifs_search&rid=200_d.webp&ct=g"},"fixed_height_small":{"height":"100","width":"140","size":"56079","url":"https://media1.giphy.com/media/Gzvo3F4TBUm1W/100.gif?cid=611b9182kse3ocn3sjqigvxk5ezfdinv3a41wsavundz2jy5&ep=v1_gifs_search&rid=100.gif&ct=g","mp4_size":"14097","mp4":"https://media1.giphy.com/media/Gzvo3F4TBUm1W/100.mp4?cid=611b9182kse3ocn3sjqigvxk5ezfdinv3a41wsavundz2jy5&ep=v1_gifs_search&rid=100.mp4&ct=g","webp_size":"35050","webp":"https://media1.giphy.com/media/Gzvo3F4TBUm1W/100.webp?cid=611b9182kse3ocn3sjqigvxk5ezfdinv3a41wsavundz2jy5&ep=v1_gifs_search&rid=100.webp&ct=g"},"fixed_height_small_still":{"height":"100","width":"140","size":"2916","url":"https://media1.giphy.com/media/Gzvo3F4TBUm1W/100_s.gif?cid=611b9182kse3ocn3sjqigvxk5ezfdinv3a41wsavundz2jy5&ep=v1_gifs_search&rid=100_s.gif&ct=g"},"fixed_height_still":{"height":"200","width":"280","size":"6445","url":"https://media1.giphy.com/media/Gzvo3F4TBUm1W/200_s.gif?cid=611b9182kse3ocn3sjqigvxk5ezfdinv3a41wsavundz2jy5&ep=v1_gifs_search&rid=200_s.gif&ct=g"},"fixed_width":{"height":"143","width":"200","size":"88491","url":"https://media1.giphy.com/media/Gzvo3F4TBUm1W/200w.gif?cid=611b9182kse3ocn3sjqigvxk5ezfdinv3a41wsavundz2jy5&ep=v1_gifs_search&rid=200w.gif&ct=g","mp4_size":"19085","mp4":"https://media1.giphy.com/media/Gzvo3F4TBUm1W/200w.mp4?cid=611b9182kse3ocn3sjqigvxk5ezfdinv3a41wsavundz2jy5&ep=v1_gifs_search&rid=200w.mp4&ct=g","webp_size":"51940","webp":"https://media1.giphy.com/media/Gzvo3F4TBUm1W/200w.webp?cid=611b9182kse3ocn3sjqigvxk5ezfdinv3a41wsavundz2jy5&ep=v1_gifs_search&rid=200w.webp&ct=g"},"fixed_width_downsampled":{"height":"143","width":"200","size":"16317","url":"https://media1.giphy.com/media/Gzvo3F4TBUm1W/200w_d.gif?cid=611b9182kse3ocn3sjqigvxk5ezfdinv3a41wsavundz2jy5&ep=v1_gifs_search&rid=200w_d.gif&ct=g","webp_size":"11408","webp":"https://media1.giphy.com/media/Gzvo3F4TBUm1W/200w_d.webp?cid=611b9182kse3ocn3sjqigvxk5ezfdinv3a41wsavundz2jy5&ep=v1_gifs_search&rid=200w_d.webp&ct=g"},"fixed_width_small":{"height":"72","width":"100","size":"31582","url":"https://media1.giphy.com/media/Gzvo3F4TBUm1W/100w.gif?cid=611b9182kse3ocn3sjqigvxk5ezfdinv3a41wsavundz2jy5&ep=v1_gifs_search&rid=100w.gif&ct=g","mp4_size":"13186","mp4":"https://media1.giphy.com/media/Gzvo3F4TBUm1W/100w.mp4?cid=611b9182kse3ocn3sjqigvxk5ezfdinv3a41wsavundz2jy5&ep=v1_gifs_search&rid=100w.mp4&ct=g","webp_size":"22134","webp":"https://media1.giphy.com/media/Gzvo3F4TBUm1W/100w.webp?cid=611b9182kse3ocn3sjqigvxk5ezfdinv3a41wsavundz2jy5&ep=v1_gifs_search&rid=100w.webp&ct=g"},"fixed_width_small_still":{"height":"72","width":"100","size":"1500","url":"https://media1.giphy.com/media/Gzvo3F4TBUm1W/100w_s.gif?cid=611b9182kse3ocn3sjqigvxk5ezfdinv3a41wsavundz2jy5&ep=v1_gifs_search&rid=100w_s.gif&ct=g"},"fixed_width_still":{"height":"143","width":"200","size":"4068","url":"https://media1.giphy.com/media/Gzvo3F4TBUm1W/200w_s.gif?cid=611b9182kse3ocn3sjqigvxk5ezfdinv3a41wsavundz2jy5&ep=v1_gifs_search&rid=200w_s.gif&ct=g"},"looping":{"mp4_size":"82384","mp4":"https://media1.giphy.com/media/Gzvo3F4TBUm1W/giphy-loop.mp4?cid=611b9182kse3ocn3sjqigvxk5ezfdinv3a41wsavundz2jy5&ep=v1_gifs_search&rid=giphy-loop.mp4&ct=g"},"original_still":{"height":"289","width":"405","size":"10418","url":"https://media1.giphy.com/media/Gzvo3F4TBUm1W/giphy_s.gif?cid=611b9182kse3ocn3sjqigvxk5ezfdinv3a41wsavundz2jy5&ep=v1_gifs_search&rid=giphy_s.gif&ct=g"},"original_mp4":{"height":"342","width":"480","mp4_size":"54140","mp4":"https://media1.giphy.com/media/Gzvo3F4TBUm1W/giphy.mp4?cid=611b9182kse3ocn3sjqigvxk5ezfdinv3a41wsavundz2jy5&ep=v1_gifs_search&rid=giphy.mp4&ct=g"},"preview":{"height":"288","width":"404","mp4_size":"42990","mp4":"https://media1.giphy.com/media/Gzvo3F4TBUm1W/giphy-preview.mp4?cid=611b9182kse3ocn3sjqigvxk5ezfdinv3a41wsavundz2jy5&ep=v1_gifs_search&rid=giphy-preview.mp4&ct=g"},"preview_gif":{"height":"289","width":"405","size":"24861","url":"https://media1.giphy.com/media/Gzvo3F4TBUm1W/giphy-preview.gif?cid=611b9182kse3ocn3sjqigvxk5ezfdinv3a41wsavundz2jy5&ep=v1_gifs_search&rid=giphy-preview.gif&ct=g"},"preview_webp":{"height":"289","width":"405","size":"15610","url":"https://media1.giphy.com/media/Gzvo3F4TBUm1W/giphy-preview.webp?cid=611b9182kse3ocn3sjqigvxk5ezfdinv3a41wsavundz2jy5&ep=v1_gifs_search&rid=giphy-preview.webp&ct=g"},"480w_still":{"height":"343","width":"480","size":"243502","url":"https://media1.giphy.com/media/Gzvo3F4TBUm1W/480w_s.jpg?cid=611b9182kse3ocn3sjqigvxk5ezfdinv3a41wsavundz2jy5&ep=v1_gifs_search&rid=480w_s.jpg&ct=g"}},"analytics_response_payload":"e=Z2lmX2lkPUd6dm8zRjRUQlVtMVcmZXZlbnRfdHlwZT1HSUZfU0VBUkNIJmNpZD02MTFiOTE4MmtzZTNvY24zc2pxaWd2eGs1ZXpmZGludjNhNDF3c2F2dW5kejJqeTUmY3Q9Zw","analytics":{"onload":{"url":"https://giphy-analytics.giphy.com/v2/pingback_simple?analytics_response_payload=e%3DZ2lmX2lkPUd6dm8zRjRUQlVtMVcmZXZlbnRfdHlwZT1HSUZfU0VBUkNIJmNpZD02MTFiOTE4MmtzZTNvY24zc2pxaWd2eGs1ZXpmZGludjNhNDF3c2F2dW5kejJqeTUmY3Q9Zw&action_type=SEEN"},"onclick":{"url":"https://giphy-analytics.giphy.com/v2/pingback_simple?analytics_response_payload=e%3DZ2lmX2lkPUd6dm8zRjRUQlVtMVcmZXZlbnRfdHlwZT1HSUZfU0VBUkNIJmNpZD02MTFiOTE4MmtzZTNvY24zc2pxaWd2eGs1ZXpmZGludjNhNDF3c2F2dW5kejJqeTUmY3Q9Zw&action_type=CLICK"},"onsent":{"url":"https://giphy-analytics.giphy.com/v2/pingback_simple?analytics_response_payload=e%3DZ2lmX2lkPUd6dm8zRjRUQlVtMVcmZXZlbnRfdHlwZT1HSUZfU0VBUkNIJmNpZD02MTFiOTE4MmtzZTNvY24zc2pxaWd2eGs1ZXpmZGludjNhNDF3c2F2dW5kejJqeTUmY3Q9Zw&action_type=SENT"}}},{"type":"gif","id":"1lzLuwVNgOkOCspyFK","url":"https://giphy.com/gifs/heyduggee-stick-hey-duggee-duggeestick-1lzLuwVNgOkOCspyFK","slug":"heyduggee-stick-hey-duggee-duggeestick-1lzLuwVNgOkOCspyFK","bitly_gif_url":"https://gph.is/2Sy4Rbd","bitly_url":"ht[...]
